button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: flex; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

/* 实现滚动 */
.box-wrap {
	display: flex;
	flex-direction: column;
	height: 97%;
}
.top-wrap {
	flex: 0 0 wrap;
}
.bottom-wrap {
	flex: 1;
}